---
import { type CollectionEntry } from "astro:content";
import Icon from "./icon.astro";
interface Props {
  place: CollectionEntry<"places">;
  position: number;
}

const { place, position } = Astro.props;
const {
  address,
  image,
  title,
  phone,
  drafts,
  differentBeers,
  isGluteenFree,
  hasTapas,
  isRestaurant,
  hasLiveMusic,
  hasSportsTv,
  isBrewery,
  hasAsianFood,
  hasBeerTasting,
  hasBurgers,
  hasVeganFood,
  isPetFriendly,
  isShop,
} = place.data;
---

<div class="card has-background-info-light">
  <a href=`/places/${place.slug}`>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src={image} alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 is-flex is-justify-content-space-between">
            {title}
            <span class="tag is-rounded is-danger">{position}</span>
          </p>
          <p class="subtitle is-6">{address} - {phone}</p>
        </div>
      </div>
      <div class="block">
        <Icon iconClass="fa-solid fa-beer-mug-empty" value={drafts} />
        <Icon iconClass="fa-brands fa-untappd" value={differentBeers} />
        <Icon iconClass="fa-solid fa-leaf" value={hasVeganFood} />
        <Icon iconClass="fa-solid fa-pizza-slice" value={hasTapas} />
        <Icon iconClass="fa-solid fa-utensils" value={isRestaurant} />
        <Icon iconClass="fa-solid fa-music" value={hasLiveMusic} />
        <Icon iconClass="fa-solid fa-futbol" value={hasSportsTv} />
        <Icon iconClass="fa-solid fa-building" value={isBrewery} />
        <Icon iconClass="fa-solid fa-bowl-rice" value={hasAsianFood} />
        <Icon iconClass="fa-solid fa-burger" value={hasBurgers} />
        <Icon iconClass="fa-solid fa-dog" value={isPetFriendly} />
        <Icon iconClass="fa-solid fa-shop" value={isShop} />
        <Icon
          iconClass="fa-solid fa-wheat-awn-circle-exclamation"
          value={isGluteenFree}
        />
        <Icon
          iconClass="fa-solid fa-champagne-glasses"
          value={hasBeerTasting}
        />
      </div>
    </div>
  </a>
</div>
