---
import { type CollectionEntry, getEntry } from "astro:content";
import Icon from "./icon/icon.astro";
interface Props {
  place: CollectionEntry<"places">;
  position: number;
}

const { place, position } = Astro.props;
const { address, image, title, phone, featuresPlace } = place.data;
---

<div class="card has-background-info-light">
  <a href=`/places/${place.slug}`>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src={image} alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 is-flex is-justify-content-space-between">
            {title}
            <span class="tag is-rounded is-danger">{position}</span>
          </p>
          <p class="subtitle is-6">{address} - {phone}</p>
        </div>
      </div>
      <div class="block">
        {
          featuresPlace.map(async (featurePlace) => {
            const { feature, value } = featurePlace;
            const {
              data: { iconCss },
            } = await getEntry(feature.collection, feature.slug);
            return <Icon iconClass={iconCss} value={value} />;
          })
        }
      </div>
    </div>
  </a>
</div>
