---
import Icon from "./icon.astro";
interface Props {
  slug: string;
  title: string;
  image: string;
  address: string;
  phone: number;
  position: number;
  drafts?: number;
  differentBeers?: number;
  isGluteenFree?: boolean;
  hasTapas?: boolean;
  isRestaurant?: boolean;
  hasLiveMusic?: boolean;
  hasSportsTv?: boolean;
  isBrewery?: boolean;
}

const {
  title,
  image,
  drafts,
  address,
  slug,
  phone,
  position,
  differentBeers,
  isGluteenFree,
  hasTapas,
  isRestaurant,
  hasLiveMusic,
  hasSportsTv,
  isBrewery,
} = Astro.props;
---

<div class="card has-background-info-light">
  <a href=`/places/${slug}`>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src={image} alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 is-flex is-justify-content-space-between">
            {title}
            <span class="tag is-rounded is-danger">{position}</span>
          </p>
          <p class="subtitle is-6">{address} - {phone}</p>
        </div>
      </div>
      <div class="block">
        <Icon iconClass="fa-solid fa-beer-mug-empty" value={drafts} />
        <Icon iconClass="fa-brands fa-untappd" value={differentBeers} />
        <Icon
          iconClass="fa-solid fa-wheat-awn-circle-exclamation"
          value={isGluteenFree}
        />
        <Icon iconClass="fa-solid fa-pizza-slice" value={hasTapas} />
        <Icon iconClass="fa-solid fa-utensils" value={isRestaurant} />
        <Icon iconClass="fa-solid fa-music" value={hasLiveMusic} />
        <Icon iconClass="fa-solid fa-futbol" value={hasSportsTv} />
        <Icon iconClass="fa-solid fa-building" value={isBrewery} />
      </div>
    </div>
  </a>
</div>
