---
interface Props {
  slug: string;
  title: string;
  image: string;
  address: string;
  phone: number;
  position: number;
  drafts?: number;
  differentBeers?: number;
  isGluteenFree?: boolean;
  hasTapas?: boolean;
  isRestaurant?: boolean;
  hasLiveMusic?: boolean;
  hasSportsTv?: boolean;
  isBrewery?: boolean;
}

const {
  title,
  image,
  drafts,
  address,
  slug,
  phone,
  position,
  differentBeers,
  isGluteenFree,
  hasTapas,
  isRestaurant,
  hasLiveMusic,
  hasSportsTv,
  isBrewery,
} = Astro.props;
---

<div class="card has-background-info-light">
  <a href=`/places/${slug}`>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src={image} alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 is-flex is-justify-content-space-between">
            {title}
            <span class="tag is-rounded is-danger">{position}</span>
          </p>
          <p class="subtitle is-6">{address} - {phone}</p>
        </div>
      </div>
      <div class="block">
        {
          drafts != null ? (
            <span class="icon has-text-primary is-large">
              <i class="fa-solid fa-beer-mug-empty fa-2x" />
            </span>
          ) : (
            ""
          )
        }
        {
          differentBeers != null ? (
            <span class="icon has-text-primary is-large">
              <i class="fa-brands fa-untappd fa-2x" />
            </span>
          ) : (
            ""
          )
        }
        {
          isGluteenFree != null ? (
            <span class="icon has-text-primary is-large">
              <i class="fa-solid fa-wheat-awn-circle-exclamation fa-2x" />
            </span>
          ) : (
            ""
          )
        }
        {
          hasTapas != null ? (
            <span class="icon has-text-primary is-large">
              <i class="fa-solid fa-pizza-slice fa-2x" />
            </span>
          ) : (
            ""
          )
        }
        {
          isRestaurant != null ? (
            <span class="icon has-text-primary is-large">
              <i class="fa-solid fa-utensils fa-2x" />
            </span>
          ) : (
            ""
          )
        }
        {
          hasLiveMusic != null ? (
            <span class="icon has-text-primary is-large">
              <i class="fa-solid fa-music fa-2x" />
            </span>
          ) : (
            ""
          )
        }
        {
          hasSportsTv != null ? (
            <span class="icon has-text-primary is-large">
              <i class="fa-solid fa-futbol fa-2x" />
            </span>
          ) : (
            ""
          )
        }
        {
          isBrewery != null ? (
            <span class="icon has-text-primary is-large">
              <i class="fa-solid fa-building fa-2x" />
            </span>
          ) : (
            ""
          )
        }
      </div>
    </div>
  </a>
</div>
